<!-- 
 * @author: Christopher Hyde
 * @dueDate: December 2, 2018
 * @class: CST-235
 * @instructor: Mark Smithers

 * @about: testForm.xhtml is the login page for assignment 2b and assignment3.
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>JSF Form Page</title>
</h:head>
<body>
	<div align="center">
		<form method="post" action="j_security_check">
			Username:
			<h:inputText id="j_username" autocomplete="off" />
			<br /> Password:
			<h:inputSecret id="j_password" autocomplete="off" />
			<br />
			<h:commandButton type="submit" value="Submit" />
		</form>
	</div>
</body>
</html>
