<!-- 
 * @author: Christopher Hyde
 * @dueDate: December 2, 2018
 * @class: CST-235
 * @instructor: Mark Smithers

 * @about: commonResponse.xhtml is used to print the users frist and last name and order list.
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
	<ui:composition template="/layouts/commonLayout.xhtml">
	<ui:define name="content">
		Hello #{User.firstName}
		<br/>
		<h:dataTable value="#{FormController.service.orders}" 
			var="order" 
			styleClass="orderTable"
			headerClass="orderTableHeader" 
			rowClasses="orderTableOddRow, orderTableEvenRow">
		
			<h:column>
				<!-- Column Header -->
				<f:facet name="header">Order #</f:facet>
				<!-- row Property -->
				#{order.orderNumber}
			</h:column>
			
			<h:column>
				<!-- Column Header -->
				<f:facet name="header">Product Name</f:facet>
				<!-- row Property -->
				#{order.productName}
			</h:column>
			
			<h:column>
				<!-- Column Header -->
				<f:facet name="header">Price</f:facet>
				<!-- row Property -->
				#{order.price}
			</h:column>
			
			<h:column>
				<!-- Column Header -->
				<f:facet name="header">Quantity</f:facet>
				<!-- row Property -->
				#{order.quantity}
			</h:column>
			
		</h:dataTable>
		<br/>
		<h:form>
			<h:commandButton value="Send Order" action="#{FormController.onSendOrder()}" />
		</h:form>
		<br/>
		<h:commandButton action="#{FormController.onLogOff()}" value="Log Out" />
	</ui:define>
	</ui:composition>
</body> 
</html>
