<!-- 
 * @author: Christopher Hyde
 * @dueDate: December 2, 2018
 * @class: CST-235
 * @instructor: Mark Smithers

 * @about: commonContent.xhtml is a content template facelets for commonLayout.xhtml.
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<body>
	<ui:composition>
		<h1>default content(replace me)</h1>
	</ui:composition>
</body>
</html>